#title-header-input {
    border-radius: 6px;
    border: 2px solid black;
    box-shadow: 1px 2px 8px teal;
}

#sidejob-type-input {
    border-radius: 6px;
    border: 2px solid black;
    box-shadow: 1px 2px 8px teal;
    height: 40px;
    margin: 2% 0;
}

#content-text-area {
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 1px 2px 8px teal;
    height: 300px;
}

#post-type-selector {
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 1px 2px 8px teal;
}

.create-post-error-texts {
    color: red;
    align-self: center;
}

#post-type-error {
    color: red;
    margin-top: 1%;
}

#side-job-error {
    margin-top: 1%;
    margin-bottom: -2%;
}

#post-card {
    width: 55% !important;
    /*height: 500px;*/
}

#individual-card {
    /*height: 470px;*/
}